<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Vehicles</title>
    <link href="/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body class="full-page">

<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">
    <div>
        <a th:href="@{/adminHome}">Home</a>
        | &nbsp;
        <a th:href="@{/logout}">Logout</a></div>
</div>
<h2>List of Stops</h2>
<a th:href="@{/addStops}">Add Routes</a>
<form class="form-page" th:action="@{/updateStops}" th:method="POST">
<table>
    <tr>
        <th>Source</th>
        <th>| &nbsp;</th>
        <th>Destination</th>
        <th>| &nbsp;</th>
        <th>Vehicle Number</th>
        <th>|  </th>
        <th>Cost</th>
    </tr>
    <tr th:each="stopsForm: ${stopsForm}">
        <td th:text="${stopsForm.getFromPlace()}"></td>
        <td>&nbsp; &nbsp; </td>
        <td th:text="${stopsForm.getToPlace()}"></td>
        <td>&nbsp; &nbsp; </td>
        <td th:text="${stopsForm.getVehicleNo()}"></td>
        <td>&nbsp; &nbsp; </td>
        <td th:text="${stopsForm.getCost()}"></td>
        <td>
            <button type="submit" name="vehicleNo"  th:value="${stopsForm.getVehicleNo()}">Update Route</button></td>
        <td>&nbsp; &nbsp;</td>
    </tr>
</table>
</form>
</body>