<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
</head>

<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Home Page!</h2>
<div style="width: 100%">
    <div style="float: left; width: 80%">
        <img src="https://www.askideas.com/media/10/Colorful-Funny-Van.jpg" alt="Some funny van image" title="From askIdeas.com">
        <h3 class="brainyQuote"> <I>Hi Ho, Hi Ho, It’s off to work we go!!!!</I></h3>
    </div>

    <div style="float:right; position: center">
        <ol>
            <li><I>Save money and reduce fuel cost.</I></li>
            &nbsp;
            &nbsp;
            <li><I>Let’s try a cost efficient way to travel for work.</I></li>
            &nbsp;
            &nbsp;
            <li><I>No More Lonely Commutes, It's easy to ride and share</I></li>

        </ol>
    </div>

</div>

</body>
</html>